<!doctype html>
<html class="no-js" lang="" ng-app="demo">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Number Behaves.</p>

        <div ng-controller="DemoCtrl">
            <form name="myForm">
                {{ctrl.demo}}

                <p>Radius</p>
                <div>


                  <button type="button" ng-model="ctrl.radius"
                          min="10"
                          increase-number="{'-10':ctrl.radius<=50,'-50':ctrl.radius>50}">-</button>
                  <input  min="10"
                          max="300"
                          name="radius"
                          class="au-input-area-search"
                          type="text"
                          pattern="[0-9]*"
                          maxlength="3"
                          valid-number
                          ng-model="ctrl.radius"
                          placeholder="50"
                          title="Umkreis festlegen"/>
                  <button type="button" ng-model="ctrl.radius"
                          max="300"
                          increase-number="{'10':ctrl.radius<50,'50':ctrl.radius>=50}">+</button>
                  <span class="add-on">km</span>
                  <span ng-bind="ctrl.radius"></span>
                  <span ng-show="myForm.radius.$valid"> ERROR: Invalid value</span>
                </div>

                <p>Radius 2</p>
                <div>


                  <button type="button" ng-model="ctrl.radius2"
                          increase-number="{'-10':ctrl.radius2<=50,'-50':ctrl.radius2>50}">-</button>
                  <input  class="au-input-area-search"
                          type="text"
                          pattern="[0-9]*"
                          valid-number
                          ng-model="ctrl.radius2"
                          placeholder="50"
                          title="Umkreis festlegen"/>
                  <button type="button" ng-model="ctrl.radius2"
                          increase-number="{'10':ctrl.radius2<50,'50':ctrl.radius2>=50}">+</button>
                  <span class="add-on">km</span>
                </div>


                <p>Price</p>
                <div>

                  <button type="button" ng-model="ctrl.price"
                          min="0"
                          increase-number="{'-0.1':ctrl.price<=1,'-1':ctrl.price>1}">-</button>
                  <input ng-model="ctrl.price"
                    type="text"
                    name="price"
                    valid-number
                    allow-decimal
                    currency
                    min="0"
                    max="9999"
                    maxlength="7"
                    type="text">
                  <button type="button" ng-model="ctrl.price"
                          max="9999"
                          increase-number="{'0.1':ctrl.price<1,'1':ctrl.price>=1}">+</button>
                  <span ng-show="myForm.price.$valid"> ERROR: Invalid value</span>
                </div>



            </form>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="demo.js"></script>
        <script src="angular-number-behave.js"></script>


    </body>

</html>
